streamlit
openai==1.55.3
pandas
pdfplumber
torch --index-url https://download.pytorch.org/whl/cu118
torchvision --index-url https://download.pytorch.org/whl/cu118
torchaudio --index-url https://download.pytorch.org/whl/cu118
transformers
gmft
pypdfium2
streamlit_pdf_viewer
